main {
    background-color: #50342C;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
}

main .container {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

main .container .conta {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 100px;
}

main .container .conta .titulo {
    font-size: 30px;
    color: white;
    margin-left: 17.5%;
    margin-bottom: 5px;
}

main .container .conta .imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    gap: 20px;
}

main .container .conta .imgs img {
    border-radius: 20px;
    border: 2px solid black;
    width: 65%;
}

main .container .sobre_conta {
    padding: 0px 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main .container .sobre_conta .titulo {
    margin-top: 3%;
    font-size: 30px;
    color: white;
    display: flex;
    width: 80%;
    justify-content: left;
}


main .container .sobre_conta p {
    font-size: 20px;
    color: white;
    text-align: justify;
    width: 80%;
}

main .container .sobre_conta p span {
    font-size: 20px;
    color: orange;
}

main .container .favorito {
    background-color: #50342C;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    margin-top: 3%;
    gap: 30px;
    min-height: 700px;
}

main .container .favorito .titulo {
    margin-top: 3%;
    font-size: 40px;
    color: white;
}


main .container .favorito select {
    width: 15%;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 150%;
    text-align: center;
}

main .container .favorito button {
    background-color: #FF9A00;
    min-width: 10%;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 3%;
    cursor: pointer;
    text-align: center;
}

main .container .favorito button:hover {
    background-color: #ff990085;
}

main .container .favorito .box {
    background-color: #FF9A00;
    width: 80%;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;

}

main .container .favorito .cima {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    font-weight: 1000;
}

main .container .favorito .cima .personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

main .container .favorito .cima .personagem .img_perso {
    height: 400px;
    border-bottom: 5px solid white;
}

main .container .favorito .cima .direita {
    width: 20%;
    gap: 20px;
}
main .container .favorito .cima .direita .raridade{
    width:250px;
    text-align: center;
    margin-top: 5%;
}
main .container .favorito .cima .direita .raridade p{
    font-size: 30px;
}

main .container .favorito .cima .direita .trofeus {
    display: flex;
    color: white;
    flex-direction: column;
}


main .container .favorito .cima .direita .trofeus .box_num {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 10px;
    margin-top: 3%;
}
main .container .favorito .cima .direita .trofeus .box_num .num{
    min-width: 220px;
}

main .container .favorito .cima .direita .trofeus .icon_trofeu {
    display: flex;
    align-items: center;
    color: white;
    width: 70px;
}

main .container .favorito .cima .direita .funcao {
    display: flex;
    font-size: 220%;
    margin-top: 10%;
    color: white;
}

main .container .favorito .cima .direita .box_poderes {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    gap: 6px;
    justify-content: center;
    margin-top: 10%;
    width: 250px;
}

main .container .favorito .cima .direita .box_poderes .um {
    width: 30%;
    height: 30%;
}

main .container .favorito .cima .direita .box_poderes .dois {
    width: 30%;
    height: 30%;
}

main .container .favorito .cima .direita .box_poderes .engrenagens {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 33%;
}

main .container .favorito .cima .direita .box_poderes .engrenagens .tres {
    width: 30px;
}

main .container .favorito .baixo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

main .container .favorito .baixo .titulo {
    font-weight: 1000;
}

main .container .favorito .baixo .box {
    padding: 10px;
    width: 80%;
    height: 100px;
    text-align: justify;
    font-size: 20px;
    color: white;
}