main {
    background-image: url(../assets/img/FUNDO.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .modal {
    background-color: white;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    border: 3px solid #D40C00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main .container .modal .titulo {
    font-size: 30px;
}

main .container .modal input {
    border: 2px solid #D40C00;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
}

main .container .modal .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

main .container .modal .botao {
    margin-top: 5%;
}

main .container .modal .botao button {
    background-color: #D40C00;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

}

main .container .modal .botao button:hover {
    background-color: #d40b0094;
}

main .container .modal .msg {
    margin-top: 2%;
}

main .container .modal .msg a {
    color: black;
    border-bottom: 1px solid black;
}