main {
    background-color: #50342C;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
}
main .container{
    width: 100%;
    height: 100%;
    padding: 0px 100px;
    margin-top: 3%;
}
main .container .conta{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .container .conta .titulo{
    font-size: 30px;
    color: white;
    margin-left: 15%;
    margin-bottom: 5px;
}
main .container .conta .imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    gap: 20px;
}
main .container .conta .imgs img{
    border-radius: 20px;
    border: 2px solid black;
}

main .container .sobre_conta .titulo{
    margin-top: 3%;
    font-size: 30px;
    color: white;
}
main .container .sobre_conta p{
    font-size: 20px;
    color: white;
}


