@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    padding: 0px 50px;
    background-color: white;
    position: fixed;
    border-radius: 20px;
    top: 0;
    min-height: 10%;
}

header a {
    color: black;
    font-size: 20px;
    font-weight: 600;

}

header .now {
    font-weight: bold;
}

header a:hover {
    border-bottom: 1px solid black;
    transition: 2s;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo img {
    width: 100px;
}

header .container .pages,
.box {
    display: flex;
    gap: 100px;
    align-items: center;
}

header .container .box {
    border: 2px solid red;
    border-radius: 20px;
    padding: 15px 25px;
}


footer {
    background-color: rgb(161, 12, 12);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

main {
    background-image: url(../assets/img/FUNDO.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .modal {
    background-color: white;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    border: 3px solid #D40C00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main .container .modal .titulo {
    font-size: 30px;
}

main .container .modal input {
    border: 2px solid #D40C00;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
}

main .container .modal .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

main .container .modal .botao {
    margin-top: 5%;
}

main .container .modal .botao button {
    background-color: #D40C00;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

}

main .container .modal .botao button:hover {
    background-color: #d40b0094;
}

main .container .modal .msg {
    margin-top: 2%;
}

main .container .modal .msg a {
    color: black;
    border-bottom: 1px solid black;
}